<template>
  <q-card inline class="square">
    <q-card-media>
      <img :src="'assets/' + imageClass + '/' + item.image" @click="showDialog()">
      <q-card-title slot="overlay" @click.native="showDialog()">
        <span slot="subtitle">+{{ item.pivot.level }}</span>
      </q-card-title>
    </q-card-media>
  </q-card>
</template>

<script>
export default {
  props: ['item', 'index', 'model', 'imageClass'],
  data () {
    return {
      dialog: null
    }
  },
  computed: {
    seconds: {
      get () {
        return this.$store.state.settings.seconds
      },
      set (val) {
        this.$store.commit('settings/setSeconds', val)
      }
    }
  },
  methods: {
    makeIdle (index) {
      this.$store.commit('user/makeIdle', { index: index, model: this.model })
    },
    showDialog () {
      let _this = this
      console.log('showDialog', this.resource, this.index)
      let items = [
        { label: 'Upgrade', value: 'upgrade' },
        { label: 'Idle', value: 'idle' }
      ]
      this.$q.dialog({
        title: 'Options',
        message: 'What do you want to do with this Resource?',
        options: {
          type: 'radio',
          model: 'dialog',
          items: items
        },
        cancel: true,
        preventClose: true,
        color: 'secondary'
      }).then(response => {
        this.$q.notify(`You selected: ${response}`)
        if (response === 'idle') {
          //  post edit to server
          this.$axios({
            method: 'post',
            url: process.env.API + '/api/' + this.model + '/' + this.item.id + '/make-idle/' + this.item.pivot.id,
            responseType: 'json',
            headers: {
              'Authorization': 'Bearer ' + this.$q.localStorage.get.item('api_token')
            }
          }).then(res => {
            if (res.status === 200) {
              //  make change locally
              this.makeIdle(_this.index)
              this.seconds = res.data.seconds
            }
          })
        }
      })
    }
  }
}
</script>
