<template>
  <q-card inline class="square">
    <q-card-media>
      <img :src="'assets/' + imageClass + '/' + item.image" @click="showDialog">
      <q-card-title slot="overlay" @click.native="showDialog">
        <span slot="subtitle">+1</span>
      </q-card-title>
    </q-card-media>
  </q-card>
</template>

<script>
export default {
  props: ['item', 'origin', 'index', 'model', 'imageClass'],
  data () {
    return {
      dialog: null
    }
  },
  computed: {
    seconds: {
      get () {
        return this.$store.state.settings.seconds
      },
      set (val) {
        this.$store.commit('settings/setSeconds', val)
      }
    }
  },
  methods: {
    makeBusy (index) {
      this.$store.commit('user/makeBusy', { index: index, model: this.model })
    },
    showDialog () {
      let _this = this
      let items = [
        { label: 'Transfer to Busy', value: 'busy' }
      ]
      this.$q.dialog({
        title: this.item.name,
        message: 'What do you want to do?',
        options: {
          type: 'radio',
          model: 'dialog',
          items: items
        },
        cancel: true,
        preventClose: true,
        color: 'secondary'
      }).then(response => {
        // this.$q.notify(`You selected: ${response}`)
        if (response === 'busy') {
          //  post edit to server
          this.$axios({
            method: 'post',
            url: process.env.API + '/api/' + this.model + '/' + this.item.id + '/make-busy/' + this.item.pivot.id,
            responseType: 'json',
            headers: {
              'Authorization': 'Bearer ' + this.$q.localStorage.get.item('api_token')
            }
          }).then(res => {
            if (res.status === 200) {
              //  make change locally
              console.log('make busy', res.data)
              this.makeBusy(_this.index)
              this.seconds = res.data.seconds
            }
          }).catch(error => {
            console.error(error.response)
            if (error.response.status === 412) {
              this.$q.notify(`You need to level up, sorry.`)
            }
          })
        }
      })
    }
  }
}
</script>
