<template>
  <q-card inline class="square">
    <q-card-media>
      <img :src="'assets/' + imageClass + '/' + item.image" @click="showDialog()">
      <q-card-title slot="overlay" @click.native="showDialog()">
        <span slot="subtitle"><q-icon name="fas fa-beer" size="15px" /> {{ item.cost_from_marketplace }}</span>
      </q-card-title>
    </q-card-media>
  </q-card>
</template>

<script>
export default {
  props: ['item', 'index', 'model', 'imageClass'],
  data () {
    return {
      dialog: null
    }
  },
  computed: {
    seconds: function () {
      return this.$store.state.settings.seconds
    }
  },
  methods: {
    makeBusy (index) {
      this.$store.commit('user/makeBusy', index)
    },
    showDialog () {
      let _this = this
      let items = [
        { label: 'Buy', value: 'buy' }
      ]
      this.$q.dialog({
        title: 'Options',
        message: 'What do you want to do with this Resource?',
        options: {
          type: 'radio',
          model: 'dialog',
          items: items
        },
        cancel: true,
        preventClose: true,
        color: 'secondary'
      }).then(response => {
        this.$q.notify(_this.item)
        console.log(this.item)
        if (response === 'buy') {
          //  post edit to server
          console.log('buying', process.env.API + '/api/' + this.model + '/' + this.item.id + '/buy')
          this.$axios({
            method: 'post',
            url: process.env.API + '/api/' + this.model + '/' + this.item.id + '/buy',
            responseType: 'json',
            headers: {
              'Authorization': 'Bearer ' + this.$q.localStorage.get.item('api_token')
            }
          }).then(res => {
            if (res.status === 200) {
              //  make change locally
              console.log('buy', res.data)
              this.$store.commit('user/setIdle', { model: this.model, collection: res.data['idle_' + this.model] })
              this.$store.commit('user/setBeer', res.data.money)
              // this.$store.commit('settings/setSeconds', res.data.seconds)
            }
          }).catch(error => {
            console.error(error)
            if (error.status === 412) {
              this.$q.notify(`You need to level up, sorry.`)
            }
          })
        }
      })
    }
  }
}
</script>
