<template>
  <swiper-slide>
    <div style="width:100%;" class="flex">

      <q-card class="header">
        <q-card-title>
          <div class="row">
            <div class="col text-weight-bold">{{ title }}</div>
            <div class="status-count text-right" v-if="origin === 'busy'">{{ collection.length }} of {{ available }}</div>
          </div>
        </q-card-title>
      </q-card>

      <template v-if="origin === 'busy'">
        <busy-square v-for="(item, index) in collection" :key="index" :item="item" :index="index" :model="model" :imageClass="imageClass"></busy-square>
      </template>

      <template v-if="origin === 'idle'">
        <idle-square v-for="(item, index) in collection" :key="index" :item="item" :index="index" :model="model" :imageClass="imageClass"></idle-square>
      </template>

      <template v-if="origin === 'market'">
        <market-square v-for="(item, index) in collection" :key="index" :item="item" :index="index" :model="model" :imageClass="imageClass"></market-square>
      </template>

    </div>
  </swiper-slide>
</template>

<style lang="scss">
.swiper-slide {
  margin-right: 10px;
}
</style>

<script>
import { swiperSlide } from 'vue-awesome-swiper'
import BusySquare from './BusySquare'
import IdleSquare from './IdleSquare'
import MarketSquare from './MarketSquare'

export default {
  components: { swiperSlide, BusySquare, IdleSquare, MarketSquare },
  props: ['origin', 'title', 'collection', 'model', 'imageClass'],
  data () {
    return {
      test: true
    }
  },
  computed: {
    level () {
      return this.$store.state.user.level
    },
    busyResourcesCount () {
      return this.$store.state.user.busyResources.length
    },
    busyProcessesCount () {
      return this.$store.state.user.busyProcesses.length
    },
    available () {
      return (this.origin === 'market') ? this.collection.length : this.level - this.busyResourcesCount - this.busyProcessesCount + this.collection.length
    }
  }
}
</script>
