<template>
  <q-card inline class="square">
    <q-card-media>
      <img :src="'assets/resources/' + item.image" @click="showDialog()">
      <q-card-title slot="overlay" @click.native="showDialog()">
        <span slot="subtitle">{{ item.pivot.quantity }}</span>
      </q-card-title>
    </q-card-media>
  </q-card>
</template>

<script>
export default {
  props: ['item'],
  data () {
    return {
      dialog: null
    }
  },
  computed: {
    seconds: {
      get () {
        return this.$store.state.settings.seconds
      },
      set (val) {
        this.$store.commit('settings/setSeconds', val)
      }
    }
  },
  methods: {
    makeIdle (index) {
      this.$store.commit('user/makeIdle', { index: index, model: this.model })
    },
    showDialog () {
      let _this = this
      console.log('showDialog', this.item, this.index)
      this.$q.dialog({
        title: 'Sell Resources',
        prompt: {
          model: _this.item.pivot.quantity,
          type: 'text'
        },
        cancel: true,
        preventClose: true,
        color: 'secondary'
      }).then(quantity => {
        if (quantity > 0 && quantity <= _this.item.pivot.quantity) {
          //  post edit to server
          this.$axios({
            method: 'post',
            url: process.env.API + '/api/resources/' + this.item.id + '/sell',
            responseType: 'json',
            data: {
              quantity: quantity
            },
            headers: {
              'Authorization': 'Bearer ' + this.$q.localStorage.get.item('api_token')
            }
          }).then(res => {
            console.log('SELL', res)
            if (res.status === 200) {
              //  make change locally
              this.$store.commit('user/setBeer', res.data.money)
              this.$store.commit('user/setStocks', res.data.stocks)

              // this.makeIdle(_this.index)
              // this.seconds = res.data.seconds
            }
          })
        }
      })
    }
  }
}
</script>
