.swiper-slide{margin-right:10px}.q-card.header{width:100%;margin-bottom:6px}.q-card.square{width:90px;margin:4px;padding:1px}.q-card.square .q-card-media img{width:90px}.q-card.square .q-card-subtitle,.q-card.square .q-card-title{text-align:center}