<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-progress
        :percentage="(seconds / secondsToWait * 100) + 1"
        :color="(seconds < secondsToProcess) ? 'negative' : 'positive'"
      />

      <q-toolbar
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          {{ username }} [lvl {{ level }}]
          <div slot="subtitle">XP {{ xp }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<q-icon name="fas fa-beer" size="15px" /> {{ beer }}</div>
        </q-toolbar-title>

        <span>
          <q-btn :label="seconds" size="md" @click="refreshSeconds" :disabled="seconds < secondsToProcess" />
        </span>

      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>Navigation</q-list-header>
        <q-item router :to="{ name: 'home' }">
          <q-item-main label="Home" sublabel="Register / Login etc." />
        </q-item>
        <q-item router :to="{ name: 'resources' }">
          <q-item-main label="Extraction" sublabel="Mining / Fracking etc." />
          <q-item-side right>
            <q-item-tile>{{ resourceBusyCount }}</q-item-tile>
          </q-item-side>
        </q-item>
        <q-item router :to="{ name: 'processes' }">
          <q-item-main label="Processes" sublabel="quasar-framework.org" />
          <q-item-side right>
            <q-item-tile>{{ processBusyCount }}</q-item-tile>
          </q-item-side>
        </q-item>
        <q-item router :to="{ name: 'stores' }">
          <q-item-main label="Stores" sublabel="quasar-framework.org" />
        </q-item>
        <q-item router :to="{ name: 'infrastructure' }">
          <q-item-main label="Infrastructure" sublabel="quasar-framework.org" />
        </q-item>
        <q-item router :to="{ name: 'map' }">
          <q-item-main label="Map" sublabel="quasar-framework.org" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { getUser } from '../helpers/axios.js'

export default {
  name: 'MyLayout',
  props: ['secondsToProcess', 'secondsToWait'],
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
      // disableRefresh: false
    }
  },
  computed: {
    seconds: function () {
      return this.$store.state.settings.seconds
    },
    username () {
      return this.$store.state.user.username
    },
    xp: function () {
      return this.$store.state.user.xp
    },
    level: function () {
      return this.$store.state.user.level
    },
    beer: function () {
      return this.$store.state.user.beer
    },
    resourceBusyCount: function () {
      return this.$store.state.user.busyResources.length
    },
    processBusyCount: function () {
      return this.$store.state.user.busyProcesses.length
    }
  },
  methods: {
    refreshSeconds () {
      let _this = this
      getUser()
        .then(res => {
          console.log(res.data)
          _this.updateVuexFromMe(res.data)
        })
    },
    updateVuexFromMe (d) {
      console.log('updateVuexFromMe', d)
      this.$store.commit('settings/setSeconds', d.seconds)
      this.$store.commit('user/setXp', d.user.xp)
      this.$store.commit('user/setLevel', d.user.level)
      this.$store.commit('user/setBusy', { model: 'resources', collection: d.user.busy_resources })
      this.$store.commit('user/setIdle', { model: 'resources', collection: d.user.idle_resources })
      this.$store.commit('user/setStocks', d.user.stocks)
      this.$store.commit('user/setBusy', { model: 'processes', collection: d.user.busy_processes })
      this.$store.commit('user/setIdle', { model: 'processes', collection: d.user.idle_processes })
    }
  }
}
</script>

<style>
</style>
