<template>
  <div id="q-app">
    <router-view :secondsToProcess="secondsToProcess" :secondsToWait="secondsToWait" />
  </div>
</template>

<script>
import { getUser, getSeconds } from './helpers/axios.js'

export default {
  name: 'App',
  data () {
    return {
      secondsToProcess: 2,
      secondsToWait: 30
    }
  },
  computed: {
    seconds: function () {
      return this.$store.state.settings.seconds
    },
    username: {
      get () {
        return this.$store.state.user.username
      },
      set (val) {
        this.$store.commit('user/setUsername', val)
      }
    },
    xp: {
      get () {
        return this.$store.state.user.xp
      },
      set (val) {
        this.$store.commit('user/setXp', val)
      }
    },
    level: {
      get () {
        return this.$store.state.user.level
      },
      set (val) {
        this.$store.commit('user/setLevel', val)
      }
    }
  },
  created () {
    let _this = this
    getUser()
      .then((res) => {
        console.log('getUser THEN', res.data)
        this.$q.localStorage.set('api_token', res.data.user.api_token)
        _this.updateVuexFromMe(res.data)
      })
      .catch(error => {
        //  get seconds
        console.error('getUser ERROR', error)
        if (error.response.status === 401) {
          this.$q.localStorage.remove('api_token')
          getSeconds()
            .then(res => {
              console.log('GETTING SECONDS')
              _this.$store.commit('settings/setSeconds', res.data.seconds)
            })
        }
      })
  },
  mounted () {
    let _this = this
    setInterval(_this.updateTime, 1000)
  },
  methods: {
    updateTime () {
      let _this = this
      //  from setInterval
      this.$store.commit('settings/incrementSeconds')
      if (this.seconds === this.secondsToWait) {
        this.$store.commit('settings/setSeconds', 0)
      }
      if (this.seconds === this.secondsToProcess) {
        getUser()
          .then((res) => {
            _this.updateVuexFromMe(res.data)
          })
          .catch(error => {
            console.error(error)
          })
      }
    },
    updateVuexFromMe (d) {
      console.log('updateVuexFromMe', d)
      this.$store.commit('user/setUsername', d.user.username)
      this.$store.commit('user/setXp', d.user.xp)
      this.$store.commit('user/setLevel', d.user.level)
      this.$store.commit('settings/setSeconds', d.seconds)
      this.$store.commit('user/setBeer', d.user.money)
      this.$store.commit('user/setBusy', { model: 'resources', collection: d.user.busy_resources })
      this.$store.commit('user/setIdle', { model: 'resources', collection: d.user.idle_resources })
      this.$store.commit('settings/setMarketResources', d.resources)
      this.$store.commit('user/setStocks', d.user.stocks)
      this.$store.commit('user/setBusy', { model: 'processes', collection: d.user.busy_processes })
      this.$store.commit('user/setIdle', { model: 'processes', collection: d.user.idle_processes })
      this.$store.commit('settings/setMarketProcesses', d.processes)
    }
  }
}
</script>

<style>
</style>
