<template>
  <q-page class="flex flex-center">
    <div class="header">
      <h3>EMP</h3>
      <p>{{ username }}</p>
      <q-btn-group>
        <q-btn label="Register" @click="registerModal" v-if="username === null" />
        <q-btn label="Login" @click="modals.login = true" v-if="username === null" />
        <q-btn label="Logout" @click="logout" v-if="username !== null" />
      </q-btn-group>
    </div>

    <!-- register -->
    <q-modal v-model="modals.register.show" content-css="padding: 20px" minimized>
      <h5>{{ modals.register.heading }}</h5>
      <p v-if="username === null">This may take a moment, depending on your connection speed.</p>
      <template v-if="username !== null">
        <p class="q-mb-lg">We have set you up with an account with the details below. You can change your details in the settings menu.</p>
        <q-list>
          <q-item>
            <q-item-main>
              Username: <b>{{ username }}</b>
            </q-item-main>
          </q-item>
          <q-item-separator />
          <q-item>
            <q-item-main>
              Password: <b>{{ $q.sessionStorage.get.item('password') }}</b>
            </q-item-main>
          </q-item>
        </q-list>
        <p>You will only need this password if you log out or login from another device or browser.</p>
        <q-field
          icon="cloud"
          label="Your Email Address"
          helper="We can send these details to your email address"
          :error="errors.email"
          error-label="We need a valid email"
        >
          <q-input v-model="form.email" />
        </q-field>
        <q-btn-group>
          <q-btn label="Send" @click="send" color="primary" />
          <q-btn label="Close" @click="modals.register.show = false; password = null;"/>
        </q-btn-group>
      </template>
      <q-inner-loading :visible="loadings.register.show && username === null">
        <q-spinner-gears size="50px" color="primary"></q-spinner-gears>
      </q-inner-loading>
    </q-modal>

  </q-page>
</template>

<style lang="scss">
h5 {
  margin: 1rem 0;
  font-weight: bold;
}
p {
  margin: 16px auto;
}
.header {
  text-align: center;
  h3 {
    font-size: 36px;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #999;
  }
}
</style>

<script>
import { LocalStorage, SessionStorage } from 'quasar'
import { createUser } from '../helpers/axios'

export default {
  name: 'PageIndex',
  data () {
    return {
      form: {
        email: ''
      },
      errors: {
        email: false
      },
      modals: {
        register: {
          show: false,
          heading: 'Player Registration'
        }
      },
      loadings: {
        register: {
          show: false
        }
      }
    }
  },
  computed: {
    username: function () {
      return this.$store.state.user.username
    }
  },
  methods: {
    registerModal () {
      this.modals.register.show = true
      this.loadings.register.show = true
      createUser()
        .then(res => {
          console.log('createUser', res.data)
          LocalStorage.set('api_token', res.data.user.api_token)
          SessionStorage.set('password', res.data.password)
          this.updateVuexFromMe(res.data)
          this.loadings.register.show = false
        })
    },
    send () {
      this.loadings.register.show = true
      this.$axios({
        method: 'post',
        url: 'send',
        responseType: 'json',
        baseURL: process.env.API + '/api/',
        data: {
          username: this.user.username,
          password: this.$q.sessionStorage.get.item('password'),
          email: this.form.email
        },
        headers: { 'Authorization': 'Bearer ' + this.$q.localStorage.get.item('api_token') }
      })
        .then(res => {
          this.loadings.register.show = false
          console.log('USER', res)
        })
        .catch(error => {
          this.loadings.register.show = false
          console.error(error.response)
        })
    },
    logout () {
      this.$q.localStorage.remove('api_token')
      this.$store.commit('user/setUsername', null)
      // this.user = null
    },
    updateVuexFromMe (d) {
      console.log('updateVuexFromMe', d)
      this.$store.commit('user/setUsername', d.user.username)
      this.$store.commit('user/setXp', d.user.xp)
      this.$store.commit('user/setLevel', d.user.level)
      this.$store.commit('settings/setSeconds', d.seconds)
      this.$store.commit('user/setBeer', d.user.money)
      this.$store.commit('user/setBusy', { model: 'resources', collection: d.user.busy_resources })
      this.$store.commit('user/setIdle', { model: 'resources', collection: d.user.idle_resources })
      this.$store.commit('settings/setMarketResources', d.resources)
      this.$store.commit('user/setStocks', d.user.stocks)
      this.$store.commit('user/setBusy', { model: 'processes', collection: d.user.busy_processes })
      this.$store.commit('user/setIdle', { model: 'processes', collection: d.user.idle_processes })
      this.$store.commit('settings/setMarketProcesses', d.processes)
    }
  }
}
</script>
