<template>
  <q-page :style-fn="pageTweak">
    <canvas ref="canvas"></canvas>
    <q-window-resize-observable @resize="onResize" />
  </q-page>
</template>

<script>
import { event } from 'quasar'

export default {
  data () {
    return {
      canvas: null,
      columns: 24,
      rows: 9,
      map: [
        1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0,
        1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0,
        1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        1, 3, 2, 1, 2, 1, 1, 3, 2, 1, 2, 1, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2
      ],
      page: {
        width: 0,
        height: 0,
        offsetY: 0
      },
      player: {
        x: 100,
        y: 100
      },
      pointer: {
        x: 100,
        y: 100
      },
      viewport: {
        x: 0,
        y: 0,
        width: 0,
        height: 0
      },
      spriteSize: 16,
      scaledSize: 32,
      tileSheet: null
    }
  },
  mounted () {
    this.page.height = document.documentElement.clientHeight
    this.page.width = document.documentElement.clientWidth

    this.canvas = this.$refs.canvas
    this.canvas.height = this.page.height - this.page.offsetY
    this.canvas.width = this.page.width

    this.context = this.canvas.getContext('2d')
    // this.context.fillStyle = '#008000'
    // this.context.fillRect(0, 0, this.page.width, this.page.height)

    this.viewport.width = this.page.width
    this.viewport.height = this.page.height

    this.tileSheet = new Image()
    this.tileSheet.src = 'assets/tile-scroll.png'

    this.canvas.addEventListener('click', (evt) => {
      // position on viewport
      // works both for mouse and touch events!
      let position = event.position(evt)

      this.pointer.x = position.left + this.viewport.x - this.page.width / 2 + this.viewport.width / 2
      this.pointer.y = position.top + this.viewport.y - this.page.height / 2 + this.viewport.height / 2

      console.log('position', position)

      // call stopPropagation and preventDefault
      event.stopAndPrevent(evt)
    })

    this.loop()
  },
  methods: {
    loop () {
      window.requestAnimationFrame(this.loop)

      this.playerMoveTo()

      let xMin = Math.floor(this.viewport.x / this.scaledSize)
      let yMin = Math.floor(this.viewport.y / this.scaledSize)
      let xMax = Math.ceil((this.viewport.x + this.viewport.width) / this.scaledSize)
      let yMax = Math.ceil((this.viewport.y + this.viewport.height) / this.scaledSize)

      for (let x = xMin; x < xMax; x++) {
        for (let y = yMin; y < yMax; y++) {
          let value = this.map[y * this.columns + x]
          let tileX = Math.floor(x * this.scaledSize - this.viewport.x + this.page.width / 2 - this.viewport.width / 2)
          let tileY = Math.floor(y * this.scaledSize - this.viewport.y + this.page.height / 2 - this.viewport.height / 2)
          this.context.drawImage(this.tileSheet, value * this.spriteSize, 0, this.spriteSize, this.spriteSize, tileX, tileY, this.scaledSize, this.scaledSize)
        }
      }

      //  player sprite
      // console.log('PLAYER', this.player.x)
      this.context.imageSmoothingEnabled = false
      this.context.drawImage(
        this.tileSheet,
        64,
        0,
        this.spriteSize,
        this.spriteSize,
        Math.round(this.player.x - this.viewport.x + this.page.width / 2 - this.viewport.width / 2),
        Math.round(this.player.y - this.viewport.y + this.page.height / 2 - this.viewport.height / 2),
        this.scaledSize,
        this.scaledSize
      )
    },
    playerMoveTo () {
      // console.log('PLAYER', this.page.offsetY)
      // this.player.x = this.pointer.x
      // this.player.y = this.pointer.y - this.page.offsetY

      this.player.x += (this.pointer.x - this.player.x - this.scaledSize / 2) * 0.05
      this.player.y += (this.pointer.y - this.player.y - this.page.offsetY - this.scaledSize / 2) * 0.05
    },
    onResize (size) {
      console.log('resizin', size)
      this.page.width = size.width
      this.page.height = size.height
      if (this.canvas !== null) {
        this.canvas.width = this.page.width
        this.canvas.height = this.page.height
      }
    },
    pageTweak (offset) {
      console.log('offset', offset)
      this.page.offsetY = offset
    }
  }
}
</script>
