<template>
  <q-page :style-fn="pageTweak">
    <canvas ref="canvas"></canvas>
    <q-window-resize-observable @resize="onResize" />
  </q-page>
</template>

<style lang="scss" scoped>
.q-layout-page-container {
  height: 100%;
}
</style>

<script>
import { event } from 'quasar'

export default {
  data () {
    return {
      columns: 6,
      rows: 9,
      map: [
        1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0,
        1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0,
        1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        3, 0, 3, 3, 3, 0, 3, 0, 3, 3, 3, 0, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2,
        1, 3, 2, 1, 2, 1, 1, 3, 2, 1, 2, 1, 1, 2, 3, 2, 1, 2, 1, 2, 3, 2, 1, 2
      ],
      canvas: null,
      context: {},
      height: 0,
      width: 0,
      offset: 0,
      tileSheet: null,
      spriteSize: 16,
      scaledSize: 32,
      player: {
        x: 32,
        y: 32
      },
      pointer: {
        x: 0,
        y: 0
      },
      viewport: {
        x: 0,
        y: 0,
        w: 0,
        h: 0
      }
    }
  },
  mounted () {
    this.height = document.documentElement.clientHeight
    this.width = document.documentElement.clientWidth

    this.viewport.w = this.width - 10
    this.viewport.h = this.height - 10

    // this.$refs.canvas.style
    this.canvas = this.$refs.canvas
    this.canvas.height = this.height
    this.canvas.width = this.width
    this.context = this.canvas.getContext('2d')
    this.context.width = this.width
    this.context.height = this.height
    this.context.fillStyle = '#008000'
    // console.log('WH', this.width, this.height)
    this.context.fillRect(0, 0, this.width, this.height)

    // console.log(height(document.documentElement), width(document.documentElement))

    this.tileSheet = new Image()
    this.tileSheet.src = 'assets/tile-scroll.png'

    this.canvas.addEventListener('click', (evt) => {
      // position on viewport
      // works both for mouse and touch events!
      let position = event.position(evt)

      this.pointer.x = position.left + this.viewport.x - this.width / 2 + this.viewport.w / 2
      this.pointer.y = position.top + this.viewport.y - this.height / 2 + this.viewport.h / 2

      console.log('position', position)

      // call stopPropagation and preventDefault
      event.stopAndPrevent(evt)
    })

    this.loop()
  },
  methods: {
    loop () {
      window.requestAnimationFrame(this.loop)

      this.playerMoveTo()
      this.viewScrollTo()

      let xMin = Math.floor(this.viewport.x / this.scaledSize)
      let yMin = Math.floor(this.viewport.y / this.scaledSize)
      let xMax = Math.ceil((this.viewport.x + this.viewport.w) / this.scaledSize)
      let yMax = Math.ceil((this.viewport.y + this.viewport.h) / this.scaledSize)

      for (let x = xMin; x < xMax; x++) {
        for (let y = yMin; y < yMax; y++) {
          let value = this.map[y * this.columns + x]
          let tileX = Math.floor(x * this.scaledSize - this.viewport.x + this.width / 2 - this.viewport.w / 2)
          let tileY = Math.floor(y * this.scaledSize - this.viewport.y + this.height / 2 - this.viewport.h / 2)
          this.context.drawImage(this.tileSheet, value * this.spriteSize, 0, this.spriteSize, this.spriteSize, tileX, tileY, this.scaledSize, this.scaledSize)
        }
      }

      this.context.imageSmoothingEnabled = false
      this.context.drawImage(this.tileSheet, 64, 0, this.spriteSize, this.spriteSize, Math.round(this.player.x - this.viewport.x + this.width / 2 - this.viewport.w / 2), Math.round(this.player.y - this.viewport.y + this.height / 2 - this.viewport.h / 2), this.scaledSize, this.scaledSize)
    },
    onResize (size) {
      console.log('resizin', size)
      this.height = size.height
      this.width = size.width
      if (this.canvas !== null) {
        this.canvas.height = this.height
        this.canvas.width = this.width
      }

      this.context.height = this.height
      this.context.width = this.width
    },
    playerMoveTo () {
      // console.log(this.pointer)
      // this.player.x += (this.pointer.x - this.player.x - this.scaledSize / 2) * 0.05
      // this.player.y += (this.pointer.y - this.player.y - this.scaledSize / 2) * 0.05 - this.offset
      this.player.x = this.pointer.x - this.player.x
      this.player.y = this.pointer.y - this.player.y - this.offset
    },
    viewScrollTo () {
      this.viewport.x = this.player.x - this.width / 2
      this.viewport.y = this.player.y - this.height / 2
    },
    pageTweak (offset) {
      console.log('offset', offset)
      this.offset = offset
    }
  }
}
</script>
