<template>
  <q-page class="q-pa-xs">
    <swiper :options="swiperOption" ref="mySwiper">
      <master-slide title="Busy" :collection="busyResources" origin="busy" model="resources" imageClass="extraction"></master-slide>
      <master-slide title="Idle" :collection="idleResources" origin="idle" model="resources" imageClass="extraction"></master-slide>
      <master-slide title="Marketplace" :collection="marketResources" origin="market" model="resources" imageClass="extraction"></master-slide>
    </swiper>
  </q-page>
</template>

<style lang="scss">
.q-card.header {
  width: 100%;
  margin-bottom: 6px;
}
.q-card.square {
  width: 90px;
  margin: 4px;
  padding: 1px;
  .q-card-media {
    img {
      width: 90px;
    }
  }
  .q-card-title, .q-card-subtitle {
    text-align: center;
  }
}
</style>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import MasterSlide from '../components/MasterSlide'

export default {
  name: 'PageIndex',
  components: {
    swiper, swiperSlide, MasterSlide
  },
  data () {
    return {
      swiperOption: {
        freeMode: true,
        slidesPerView: 'auto',
        spaceBetween: 10
      }
    }
  },
  computed: {
    busyResources () {
      return this.$store.state.user.busyResources
    },
    idleResources () {
      return this.$store.state.user.idleResources
    },
    marketResources () {
      return this.$store.state.settings.marketResources
    },
    level () {
      return this.$store.state.user.level
    }
  }
}
</script>
