<template>
  <q-page class="q-ma-sm">
    <stock-square v-for="item in items" :key="'item-' + item.id" :item="item"></stock-square>
  </q-page>
</template>

<style lang="scss">
.q-card.header {
  width: 100%;
  margin-bottom: 6px;
}
.q-card.square {
  width: 90px;
  margin: 4px;
  padding: 1px;
  .q-card-media {
    img {
      width: 90px;
    }
  }
  .q-card-title, .q-card-subtitle {
    text-align: center;
  }
}
</style>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import StockSquare from '../components/StockSquare'

export default {
  components: {
    swiper, swiperSlide, StockSquare
  },
  data () {
    return {
      swiperOption: {
        freeMode: true,
        slidesPerView: 'auto',
        spaceBetween: 10
      }
    }
  },
  computed: {
    items: {
      get () {
        return this.$store.state.user.stocks
      }
    }
  }
}
</script>
